/*All Elements Styles*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/*Body Styles*/
body{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #ffffff;
}

/*Header Styles*/
header{
    display: block;
    text-align: center;
    
    padding: 20px;

    width: 100%;
    height: auto;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(185,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23801250'/%3E%3Cstop offset='1' stop-color='%23ff0f0f'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='48' height='48' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='24' cy='24' r='24'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.12'/%3E%3C/svg%3E");
    background-size: cover;
    border-bottom: 2px solid black;
}
header .title h1{
    font-size: 5em;
    color: #FFF7F6;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
header .info a{
    font-size: 1.5em;
    color: #FFF7F6;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

/*Footer Styles*/
footer{
    padding: 37px;

    width: 100%;
    height: auto;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(185,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23801250'/%3E%3Cstop offset='1' stop-color='%23ff0f0f'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='48' height='48' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='24' cy='24' r='24'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.12'/%3E%3C/svg%3E");
    background-size: cover;
    border-top: 2px solid black;
}
footer h3{
    color: #FFF7F6;
}